services:
  model_api:
    build: ./model_api
    container_name: model_api
    ports:
      - "8001:8001"
    volumes:
      - ./model_api:/app
    restart: always

  proxy:
    build: ./proxy
    container_name: proxy
    ports:
      - "8010:8010"
    environment:
      - TARGET_HOST=http://webgoat:8080
      - MODEL_API=http://model_api:8001/score
      - THRESHOLD=0.8
      - REQUEST_LOG_PATH=/data/requests.jsonl
    depends_on:
      - model_api
      - webgoat
    volumes:
      - ./proxy:/app
      - ./data:/data
    restart: always

  webgoat:
    image: webgoat/webgoat
    container_name: webgoat
    ports:
      - "8081:8080"
    restart: always
